<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style="background: #eeeeee; font-family: Arial, Helvetica, sans-serif;">
  	<div style="background: #fefefe; width: 70%; margin: 0 auto; line-height: 2rem">
      <div style="padding: 20px;" align="center">
        <a href="https://www.spritle.com">
          <img src="https://www.linkpicture.com/q/spritle_logo.png" style="width: 25%;">
        </a>
        <img src="https://www.linkpicture.com/q/spritle_quote.jpg" style="width: 100%; margin: 2rem 0 2rem 0;">
      </div>
      <div style="padding: 0 20px; font-size: 14px;">
        <h3 style="margin-bottom: 1.5rem; color: #666666;">Hi <%= @user_data.name %>!</h3>
        <p style="color: #333333;">
          Greetings from Spritle!
        </p>
        <p style="color: #333333;">
          Thanks for being a part of our Freshers Drive. We have sent you an aptitude test to your mail.
          You can take up the test anytime but the time limit would be 60 mins. Once you login using provided credentials the test will begin.
        </p>
        <p style="color: #333333;">
          Kindly take up the <a href='https://hiring.spritle.com' style="text-decoration: none; color: #0000ff">test<a>.
        </p>
        <p style="color: #333333;">
          All the best!!!
        </p>
      </div>
      <div style="padding: 20px; font-size: 14px;">
        <p style="color: #333333;">
          <b style="color: #666666;">Thanks and Regards,</b><br>
          Spritle Hiring Team.
        </p>
      </div>
    </div>
  </body>
</html>
