<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style="background: #eeeeee; font-family: Arial, Helvetica, sans-serif;">
  	<div style="background: #fefefe; width: 70%; margin: 0 auto; line-height: 2rem">
      <div style="padding: 20px;" align="center">
        <a href="https://www.spritle.com">
          <img src="https://www.linkpicture.com/q/spritle_logo.png" style="width: 25%;">
        </a>
        <img src="https://www.linkpicture.com/q/spritle_quote.jpg" style="width: 100%; margin: 2rem 0 2rem 0;">
      </div>
      <div style="padding: 0 20px; font-size: 14px;">
        <h3 style="margin-bottom: 1.5rem; color: #666666;">Hi <%= @user_data.name %>!</h3>
        <p style="color: #333333;">
          Thank you for applying for the Freshers opening at Spritle Software.
          We have reviewed your application and thought of providing you 2-3 months of time to prepare and get back to us.
          Also, please refer your friends who has some fundamental skills and expertise as a fresher.
        </p>
        <p style="color: #333333;">
          Wishing you luck and looking forward to see you comeback stronger!
        </p>
      </div>
      <div style="padding: 20px; font-size: 14px;">
        <p style="color: #333333;">
          <b style="color: #666666;">Thanks and Regards,</b><br>
          Spritle Hiring Team.
        </p>
      </div>
    </div>
  </body>
</html>
