<div class="content-wrapper">
  <div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Edit Test</h4>
        <!--<p class="card-description">
          Add class <code>.table-hover</code>
        </p>-->

        <%= render 'form', test: @test %>
      </div>
    </div>
  </div>
</div>
